/* CSS for the ChatInterface component */

/* chat-interface-border */
.chat-interface-border {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden; /* Ensure border doesn't affect layout */
}

/* chat-interface-container */
.chat-interface-container {
  background-color: white; /* Set background color to white */
  padding: 20px; /* Increase padding for more weight */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add box shadow for more weight */
  width: 80vw; /* Occupy full screen width */
  height: 90vh; /* Occupy full screen height */
  margin: 0 auto; /* Center the container horizontally */
}


/* message-list */
.message-list {
  height: 700px; /* Set fixed height for scrollable area */
  overflow-y: auto; /* Make the message list scrollable */
  padding: 20px; /* Increase padding for larger content */
}
/* scrollbar */
.message-list::-webkit-scrollbar {
  width: 5px; /* Set width of the scrollbar */
}

/* scrollbar track */
.message-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Set background color of the scrollbar track */
}

/* scrollbar thumb */
.message-list::-webkit-scrollbar-thumb {
  background: #888; /* Set color of the scrollbar thumb */
  border-radius: 5px; /* Set border radius of the scrollbar thumb */
}

/* scrollbar thumb on hover */
.message-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Set color of the scrollbar thumb on hover */
}

/* user-message */
.user-message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px; /* Increase margin for larger content */
}

/* other-message */
.other-message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Increase margin for larger content */
}
.user-message .message-content {
  background-color: #DCF8C6;
}

/* message-content for other user */
.other-message .message-content {
  background-color: lightgray;
}

/* message-content */
.message-content {
  max-width: 60%; /* Increase max-width for wider messages */
  background-color: #e5e5ea;
  padding: 20px; /* Increase padding for larger content */
  border-radius: 10px;
  word-wrap: break-word; /* Add word-wrap to prevent overflowing messages */
}

/* sender-info */
.sender-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Increase margin for larger content */
}

/* sender-photo */
.sender-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px; /* Increase margin for larger content */
}

/* sender-name */
.sender-name {
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px; /* Increase margin for larger content */
}

/* text */
.text {
    font-size: 20px;
  margin-bottom: 10px; /* Increase margin for larger content */
}

/* timestamp */
.timestamp {
  font-size: 12px;
  color: #666;
}

/* message-form */
.message-form {
  display: flex;
  align-items: center;
  padding: 20px; /* Increase padding for larger content */
}

/* message-input */
.message-input {
  flex: 1;
  padding: 15px; /* Increase padding for larger content */
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 20px; /* Increase margin for larger content */
}
.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px; /* Adjust width to change icon size */
  height: 50px; /* Adjust height to change icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-left: 150px;
}

/* send-button */
.send-button {
  width: 60px; /* Adjust width to change icon size */
  height: 60px; /* Adjust height to change icon size */
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.back-button i,
.send-button i {
  font-size: 20px; /* Adjust font size to change icon size */
}

