/* chat-container */
.chat-container {
  display: flex;
  flex-direction: column; /* Change to column layout */
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  overflow: hidden; /* Prevents scrollbars from appearing in the main container */
}

/* conversation-list-container */
.conversation-list-container {
  padding: 0 30px; /* Adjust padding */
  border: 2px solid black;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 50vh;
  width: 50%;
  background-color: #DCF8C6;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  align-items: center; /* Center content horizontally */
  position: relative; /* Ensure position context for absolute positioning */
}

/* conversation-list-text */
.conversation-list-text {
  width: 100%;
  padding: 0 30px; /* Add padding */
  margin-bottom: 20px; /* Add margin */
  position: sticky; /* Stick to the top */
  top: 0; /* Stick to the top */
  background-color: #DCF8C6; /* Same background color as the container */
  z-index: 1;
  text-align: center; /* Ensure it's above the scrollable area */
}

/* conversation-list */
.conversation-list {
  width: 100%;
}

/* user-container */
.user-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
}

.conversation-details {
  flex-grow: 1;
}

.last-message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.last-message {
  color: #555;
  margin-bottom: 5px;
}

.user-container:hover {
  background-color: #ebebeb;
}

.user-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.search-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.you-message {
  color: #555;
}

.you-message-time {
  color: #555;
}

.other-message {
  color: black; /* Set color for other user's messages */
}

.other-message-time {
  color: black; /* Set color for other user's message time */
}
.notification-icon {
  position: absolute;
  top: 5px; /* Adjust the top position */
  right: 5px; /* Adjust the right position */
  background-color: red;
  color: white;
  width: 20px; /* Set a fixed width */
  height: 20px; /* Set a fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px; /* Adjust the font size */
}
