.faqs-body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding: 40px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.title-1 {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 2rem;
  background: linear-gradient(to top, transparent 0%, #0e2431 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateY(60px);
  opacity: .2;
}

.title-2 {
  font-size: 2.5em;
  font-weight: 700;
	transform: translateY(-20px);
  color: #191970;
}
::selection{
  background: #191970;
  color: #fff;
}
.accordion{
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background: rgba(173, 216, 230, 0.712);
  border-radius: 25px;
  padding: 45px 90px 45px 60px;
}
.accordion .image-box{
  height: 360px;
  width: 300px;
}
.accordion .image-box img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.accordion .accordion-text{
  width: 60%;
  overflow-y: scroll;
  padding-right: 10px;
}
.accordion .accordion-text::-webkit-scrollbar {
	width: .2rem; 
}
.accordion .accordion-text::-webkit-scrollbar-track {
  background: rgb(48, 154, 177);
  border-radius: 5rem;
}
.accordion .accordion-text::-webkit-scrollbar-thumb {
  background-color: rgb(57, 49, 49);
  border-radius: 2rem;
}
.accordion .accordion-text .title{
  font-size: 35px;
  font-weight: 600;
  color: #191970;
  font-family: 'Fira Sans', sans-serif;
}
.accordion .accordion-text .faq-text{

  height: 263px;
  overflow-y: auto;
}
.faq-text::-webkit-scrollbar{
  display: none;
}
.accordion .accordion-text li{
  list-style: none;
  cursor: pointer;
}
.accordion-text li .question-arrow{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-text li .question-arrow .question{
  font-size: 18px;
  font-weight: 500;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li .question-arrow .arrow{
  font-size: 20px;
  color: #595959;
  transition: all 0.3s ease;
}
.accordion-text li.showAnswer .question-arrow .arrow{
  transform: rotate(-180deg);
}
.accordion-text li:hover .question-arrow .question{
  color: #191970;
}
.accordion-text li.showAnswer .question-arrow .question{
  color: #191970;
}
.accordion-text li .line{
  display: block;
  height: 2px;
  width: 100%;
  margin: 10px 0;
  background: rgba(0, 0, 0, 0.1);
}
.accordion-text li p{
  width: 92%;
  font-size: 15px;
  font-weight: 500;
  color: #595959;
  display: none;
}
.accordion-text li.showAnswer p{
  display: block;
  text-indent: 30px;
}

@media (max-width: 994px) {
  body{
    padding: 40px 20px;
  }
  .accordion{
    max-width: 100%;
    padding: 45px 60px 45px 60px;
  }
  .accordion .image-box{
    height: 360px;
    width: 220px;
  }
  .accordion .accordion-text{
    width: 63%;
  }
}
@media (max-width: 820px) {
  .accordion{
    flex-direction: column;
  }
  .accordion .image-box{
    height: 360px;
    width: 300px;
    background: #7d2ae8;
    width: 100%;
    border-radius: 25px;
    padding: 30px;
  }
  .accordion .accordion-text{
    width: 100%;
    margin-top: 30px;
  }
}
@media (max-width: 538px) {
  .accordion{
    padding: 25px;
  }
  .accordion-text li p{
    width: 98%;
  }
}
