.profile-page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-container {
  width: 580px;
  height: auto; 
  margin: 100px auto; 
  padding: 40px; 
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(173, 216, 230, 0.712);
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px; 
}

.profile-container label {
  display: block;
  margin-bottom: 12px; 
  font-size: 18px; 
}

.profile-container input {
  width: 100%;
  padding: 16px; 
  margin-bottom: 24px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px; 
}

.profile-container button {
  display: block;
  width: 100%;
  padding: 16px; 
  background-color: lightgreen;
  color: #000;
  border: none;
  border-radius: 50px;
  font-size: 18px; 
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px; 
}

.profile-container button:hover {
  background: rgb(47, 155, 47);
  color: #fff;
}

.profile-avatar {
  text-align: center;
  margin-bottom: 20px; 
}

.avatar-label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.avatar-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

#avatar-upload {
  display: none;
}

.specialty-container {
  margin-bottom: 24px;
}

.specialty-container label {
  display: block;
  margin-bottom: 12px;
  font-size: 18px;
}

.specialty-container select {
  width: 100%;
  padding: 16px;
  margin-bottom: 24px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 18px;
  appearance: none;
  background: url('data:image/svg+xml;utf8,<svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat right 12px center/14px 14px;
  background-color: rgba(173, 216, 230, 0.712);
  color: #000; 
  cursor: pointer;
}
