.survey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(173, 216, 230, 0.712);
}

.filter-search-container {
  height: 35px;
  width: 93%;
  padding: 5px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
}

.user-data-title {
  margin-left: 20px;
}

.filter-input {
  width: 30%; 
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
}

.user-table-container {
  max-height: 550px;
  overflow-y: auto;
  width: 95%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000; 
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #333;
  color: white;
}

.delete-button {
  padding: 6px 12px;
  background-color: #e74c3c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c0392b;
}

.user-table thead {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.survey-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(173, 216, 230, 0.712);
}

.filter-search-container {
  height: 35px;
  width: 93%;
  padding: 5px 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between; 
  align-items: flex-end; 
}

.user-data-title {
  margin-left: 20px;
}

.filter-input {
  width: 30%; 
  padding: 10px;
  font-size: 16px;
  border-radius: 25px;
}

.user-table-container {
  max-height: 550px;
  overflow-y: auto;
  width: 95%;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000; 
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

tr:nth-child(even) {
  background-color: rgba(173, 216, 230, 0.712);
}

th {
  background-color: #333;
  color: white;
}

.delete-button {
  padding: 6px 12px;
  background-color: #e74c3c;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #c0392b;
}

.user-table thead {
  background-color: #333;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.bubble {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: lightcyan;
  color: #000;
}
