@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* main, */

main {
  padding-bottom: 2rem;
}

main > * {
  flex: 1;
}

.content-container {
  margin-left: 75px;
  transition: all 500ms;
}

/* FOOTER */
footer {
  transition: all 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  padding: .5rem 0 .5rem;
  text-align: center;
  font-weight: 600;
}

@media (max-width: 400px) {
  footer {
    flex-direction: column;
  }
}